@font-face {
    font-family: holiday;
    src: url("../../../public/fonts/holiday/holiday.otf");
}

@font-face {
    font-family: craft;
    src: url("../../../public/fonts/craft/craft.otf");
}



.wish_box {
    padding: 2rem;
    background-image: url("../../../public/images/tulips.png") !important;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    background-blend-mode: multiply !important;
}



@keyframes butterflyFlap {
    from {
        width: 170px;
        scale: 0.9;
    }

    50% {

        width: 200px;
        scale: 1;
    }

    to {
        width: 170px;
        scale: 0.9;
    }
}

@-webkit-keyframes butterflyFlap {
    from {
        width: 170px;
        scale: 0.9;
    }

    50% {

        width: 200px;
        scale: 1;
    }

    to {
        width: 170px;
        scale: 0.9;
    }
}

@-moz-keyframes butterflyFlap {
    from {
        width: 170px;
        scale: 0.9;
    }

    50% {

        width: 200px;
        scale: 1;
    }

    to {
        width: 170px;
        scale: 0.9;
    }
}

@-ms-keyframes butterflyFlap {
    from {
        width: 170px;
        scale: 0.9;
    }

    50% {

        width: 200px;
        scale: 1;
    }

    to {
        width: 170px;
        scale: 0.9;
    }
}

@keyframes butterflyFlap {
    from {
        width: 170px;
        scale: 0.9;
    }

    50% {

        width: 200px;
        scale: 1;
    }

    to {
        width: 170px;
        scale: 0.9;
    }
}

.butterfly {
    filter: drop-shadow(0 0 0.4rem rgb(255, 255, 255));
    height: 200px;
    scale: 0.9;
    transform: rotate(-40deg);
    animation: butterflyFlap 500ms linear infinite;
    -moz-animation: butterflyFlap 500ms linear infinite;
    -ms-animation: butterflyFlap 500ms linear infinite;
    -o-animation: butterflyFlap 500ms linear infinite;
    -webkit-animation: butterflyFlap 500ms linear infinite;
    animation-delay: 800ms;
}

.img_box {
    border-radius: 10px;
    border: 3px solid rgba(255, 255, 255, 0.18);
}

.wish_text {
    font-family: holiday;
    font-size: 2rem;
    color: #ff0;
    letter-spacing: 3px;
    text-shadow: 0px 0px 4px rgb(0, 0, 0);
}

.color_text {
    font-size: 1.8rem;
    font-family: craft;
    letter-spacing: 3px;
    font-weight: 900;
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
    color: #fff;
}

.red {
    /* color: red; */
    --animate-delay: 0.1s;
}

.green {
    /* color: green; */
    --animate-delay: 0.2s;
}

.yellow {
    /* color: yellow; */
    --animate-delay: 0.7s !important;
}

.blue {
    /* color: blue; */
    --animate-delay: 1s !important;
}

.light_blue {
    /* color: lightblue; */
    --animate-delay: 1.3s !important;
}